* {
    padding: 0;
    margin: 0;
}
#sheet {
    left: 50%;
    position: relative;
}
#form-cont {
    width: 300px;
    margin-left: -100px;
    left: 50%;
    position: absolute;
}
.form-el{
    width: 300px;
    margin-left: -150px;
    left: 50%;
    position:relative;
}
label {
    text-align: right;
    display:inline-block;
    width: 80px;
}
input {
    text-align: left;
    width: 150px;
}
button {
    width: 100px;
    margin-left: -50px;
    left: 50%;
    position: absolute;
}
#anim-cropper {
    /*basic attributes */
    width: 140px;
    height: 195px;

    /*centering code */
    margin-left: -70px;
    left: 50%;
    position: relative;

    /*crops image*/
    overflow: hidden;
}